<form class="lmp-form" data-ng-submit="lmp_form.submit_form()">

	<div class="lmp-form-message" data-ng-if="lmp_form.message" data-ng-bind-html="lmp_form.message"></div>

	<div class="form-item" data-ng-repeat="field in lmp_form.data.fields">
		<textarea data-ng-attr-id="{{ field.type }}-{{ $index }}" data-ng-attr-name="{{ field.type }}-{{ $index }}" data-ng-model="field.value" data-ng-if="field.type === 'textarea'" data-ng-required="field.required"></textarea>
		<input data-ng-attr-type="{{ field.type }}" data-ng-attr-id="{{ field.type }}-{{ $index }}" data-ng-attr-name="{{ field.type }}-{{ $index }}" data-ng-model="field.value" data-ng-if="field.type !== 'textarea' && field.type !== 'select'" data-ng-required="field.required">
		<select data-ng-attr-id="{{ field.type }}-{{ $index }}" data-ng-attr-name="{{ field.type }}-{{ $index }}" data-ng-model="field.value" data-ng-required="field.required" data-ng-if="field.type === 'select'" data-ng-options="option.label for option in field.options">
		</select>
		<label data-ng-class="{ required: field.required }" data-ng-attr-for="{{ field.type }}-{{ $index }}" data-ng-bind="field.label"></label>
	</div>

	<div
	    vc-recaptcha 
	    key="lmp_form.data.recaptcha_key" 
	    data-ng-model="lmp_form.data.recaptcha" 
	    on-create="lmp_form.setWidgetId( form.data.id )"
	></div>

	<button type="submit">Submit</button>

	<div class="lmp-form-loading" data-ng-if="lmp_form.loading">
		<svg class="circular" viewbox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
		</svg>
	</div>

</form>