<section class="playlist-manager overlay" data-ng-if="$ctrl.storage.playlist_track">
	<div class="inner">
 		<button class="modal-close" data-ng-click="$ctrl.cancel_playlister()">
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-close"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-clear"></use></svg>
		</button>
		<div data-ng-if="$ctrl.stage === 'type'">
			<h3><span>Add to playlist</h3>
			<a class="select-stage" data-ng-click="$ctrl.stage = 'select'">Select a playlist</a>
			<span class="or">or</span>
			<a class="select-stage" data-ng-click="$ctrl.stage = 'new'">Create new playlist</a>
		</div>
		<form data-ng-if="$ctrl.stage == 'select'">
 			<a class="playlister-back" data-ng-click="$ctrl.stage = 'type'"><svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-keyboard_arrow_left"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-keyboard_arrow_left"></use></svg>Back</a>
			<h3><span>Select a playlist</span></h3>
			<select data-ng-options="playlist.id as playlist.title for playlist in $ctrl.storage.profile.playlists track by playlist.id" data-ng-model="$ctrl.selected" data-ng-if="$ctrl.storage.profile.playlists.length > 0">
				<option value="">Select Playlist</option>
			</select>
			<p data-ng-if="$ctrl.show_none_selected && ! $ctrl.selected">Please select a playlist</p>
			<button class="playlister-confirm" data-ng-click="$ctrl.add_to_existing()">Add track</button>
		</form>
		<form name="form" data-ng-if="$ctrl.stage == 'new'" data-ng-submit="$ctrl.create()">
 			<a class="playlister-back" data-ng-if="$ctrl.playlists.length > 0" data-ng-click="$ctrl.stage = 'type'"><svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-keyboard_arrow_left"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-keyboard_arrow_left"></use></svg>Back</a>
			<h3><span>Create new playlist</h3>
			<input class="raised-input" type="text" id="title" name="title" placeholder="Enter playlist name" data-ng-model="$ctrl.new_title" data-ng-pattern="/^[\\w -]*$/" required="true" data-ng-minlength="4" data-ng-maxlength="30" required>
			<p data-ng-show="form.title.$invalid">Only letters, numbers, spaces, dashes and underscores between 4 - 30 characters.</p>' 
			<button class="playlister-confirm" type="submit" class="playlist-panel-button" data-ng-disabled="form.title.$invalid">Create playlist</button>
 		</form>
		<div data-ng-if="$ctrl.stage == 'complete'">
			<span class="playlister-icon" data-ng-if="$ctrl.success"><svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-check"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-check"></use></svg></span>
			<span class="playlister-icon error-alert" data-ng-if="$ctrl.failure"><span>!</span></span>
			<p class="playlister-message" data-ng-bind-html="$ctrl.message"></p>
		</div>
 	</div>
</section>