<div class="messages" data-ng-if="$ctrl.message" data-ng-bind-html="$ctrl.message" data-ng-class="{error: $ctrl.error}"></div>
<div class="social-login" data-ng-hide="$ctrl.loading">
  <h4>Connect using facebook</h4>
  <a href="https://api.iamlmp.com/wp-$ctrl.php?action=wordpress_social_authenticate&mode=login&provider=Facebook&redirect_to=%2Foauth%2Fauthorize%2F%3Fresponse_type%3Dtoken%26client_id%3DeRlnLOK5HmGWOFysuuutyx8wB6EVZ1%26redirect_uri%3Dhttps%3A%2F%2Fwww.iamlmp.com">
    Facebook
  </a>
</div>
<div class="lmp-row" data-ng-hide="$ctrl.loading">
  <div class="lmp-col-2">
    <h4>Login</h4>
    <form class="lmp-form" data-ng-submit="$ctrl.login()">
      <div class="form-item">
        <input type="text" id="username" data-ng-model="$ctrl.username" />
        <label for="username">Username or email address</label>
      </div>
      <div class="form-item">
        <input type="password" id="password" data-ng-model="$ctrl.password" />
        <label for="password">Password</label>
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
  <div class="lmp-col-2">
    <h4>Register</h4>
    <form class="lmp-form" data-ng-submit="$ctrl.register()">
      <div class="form-item">
        <input type="text" id="regusername" data-ng-model="$ctrl.regusername" />
        <label for="regusername">Username</label>
      </div>
      <div class="form-item">
        <input type="text" id="regemail" data-ng-model="$ctrl.regemail" />
        <label for="regemail">Email</label>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
<p>Forgot your password? <a href="/password-reset">Click here</a> to request a new one.</p>