<section class="track-modal" data-ng-if="$ctrl.storage.view_track && $ctrl.show" data-ng-class="{ mobile: $ctrl.mobile }">
	<button class="modal-close-mobile" data-ng-click="this.toggle()" data-ng-if="$ctrl.mobile">
		Close
	</button>
	<div class="inner">
	<button class="modal-close" data-ng-click="$ctrl.toggle()" data-ng-if="!$ctrl.mobile">
		<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-close"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-clear"></use></svg>
	</button>
	<div class="modal-artwork">
		<img data-ng-src="{{ $ctrl.storage.view_track.artwork }}" alt="">
	</div>
	<h2 data-ng-bind-html="$ctrl.storage.view_track.title"></h2>
	<p data-ng-bind-html="$ctrl.storage.view_track.artists"></p>
	<div class="modal-stats" data-ng-if="$ctrl.storage.view_track.id !== 'lmp-radio'">
		<div>
			<span data-ng-bind="$ctrl.storage.view_track.duration_display || '0:00'"></span>
		</div>
		<div>
			<span data-ng-bind="$ctrl.storage.view_track.plays"></span>
		</div>
		<div class="{liked: $ctrl.storage.view_track.user_like}">
			<span data-ng-bind="$ctrl.storage.view_track.likes"></span>
		</div>
	</div>
	<ul data-ng-if="$ctrl.storage.view_track.id !== 'lmp-radio'">
		<li class="track-actions-list goto"><a data-ng-href="/{{$ctrl.storage.view_track.format}}/{{$ctrl.storage.view_track.slug}}" data-ng-attr-title="{{lmp_track.data.title}}">Go to track</a></li>
		<li class="track-actions-list like"><a data-ng-click="$ctrl.like()" data-ng-class="{loading: $ctrl.like_loading, liked: $ctrl.storage.view_track.user_like}"><span data-ng-bind="( $ctrl.storage.view_track.user_like ? 'Unlike' : 'Like' )"></span></a></li>
		<li  class="track-actions-list playlist" data-ng-if="lmp_track.data.format !== 'podcasts'"><a data-ng-click="$ctrl.add_to_playlist()"><span>Add to playlist </span></a></li>
		<li  class="track-actions-list download" data-ng-if="$ctrl.storage.view_track.download"><a data-ng-href="{{ $ctrl.storage.view_track.url }}" data-ng-attr-download="{{ $ctrl.storage.view_track.title }}" target="_self"><span>Download </span></a></li>
	</ul>
</div>
<div id="playlist-panel-content" data-ng-switch="$ctrl.options.stage">
	<div class="playlist-selector" data-ng-switch-when="select">
		<h3>Select playlist</h3>
		<p data-ng-hide="$ctrl.lists">Loading playlists...</p>
		<p class="no-playlist-title" data-ng-if="$ctrl.options.empty_select">You must select a playlist!</p>
		<select id="select-playlist" name="playlist" data-ng-if="$ctrl.lists" 
			ng-options="playlist.title for playlist in $ctrl.lists track by playlist.id" 
			ng-model="$ctrl.options.selected">
			<option value="" disabled selected>Select playlist</option>
		</select>
		<button data-ng-disabled="!$ctrl.options.selected" data-ng-click="$ctrl.add()">
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-add"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-add"></use></svg>
		</button>
		<span data-ng-show="$ctrl.lists" class="or">or</span>
		<a class="playlist-panel-button" data-ng-click="$ctrl.options.stage = 'create'">Create a new playlist</a>
	</div>
	<div class="playlist-creator" data-ng-switch-when="create">
		<h3>Create new playlist</h3>
		<p class="no-playlist-title" data-ng-if="$ctrl.options.empty_title">You must enter a title!</p>
		<form data-ng-submit="$ctrl.create()" name="form">
			<input 
				type="text"
				id="title" 
				name="title" 
				placeholder="Enter playlist name" 
			ng-model="$ctrl.options.new_title"  
			ng-pattern="$ctrl.options.regex" 
			required="true" 
			ng-minlength="4"  
			ng-maxlength="30">
			<p>Only letters, numbers, spaces, dashes and underscores between 4 - 30 characters.</p>
			<button type="submit" class="playlist-panel-button" data-ng-disabled="form.title.$invalid">Create playlist</button>
		</form>	
	</div>
</div>
</section>