<div class="page-header" data-ng-class="{ 'element-invisible': $ctrl.content.slider.length > 0 && !$ctrl.select_plan }">
	<div class="wrap">
		<h1 data-ng-if="!$ctrl.select_plan" data-ng-bind-html="$ctrl.content.title"></h1>
		<h1 data-ng-if="$ctrl.select_plan">Interested in our services?</h1>
	</div>
</div>
<data-lmp-slider data-ng-if="$ctrl.content.slider.length > 0 && !$ctrl.select_plan" slides="$ctrl.content.slider"></data-lmp-slider>
<div class="wrap">
	<main data-ng-class="{ 'lmp-content-left': ! $ctrl.content.full_width }" data-ng-if="$ctrl.select_plan">
		<div class="lmp-row">
			<h2 class="special-heading">Contact us for more details</h2>
			<data-lmp-form data-ng-if="$ctrl.content.forms.plan_form" data-form="$ctrl.content.forms.plan_form"></data-lmp-form>
		</div>
	</main>
	<main data-ng-class="{ 'lmp-content-left': !$ctrl.content.full_width }" data-ng-if="!$ctrl.select_plan">
		<data-ng-repeat data-ng-repeat="element in $ctrl.content.elements track by $index">
			<data-ng-bind-html data-ng-if="!element.type" data-ng-bind-html="element"></data-ng-bind-html>
			<div class="lmp-row" data-ng-if="element.type && element.type === 'gallery'">
				<data-lmp-gallery data-source="element"></data-lmp-gallery>
			</div>
			<data-lmp-form data-ng-if="element.type && element.type === 'form'" data-form="element"></data-lmp-form>
		</data-ng-repeat>
		<div class="pricing-table col-{{$ctrl.products.length}} product-table" data-ng-if="$ctrl.products">
			<div class="pricing-column" data-ng-repeat="item in $ctrl.products" data-ng-class="{highlight: item.variations}">
				<div class="pricing-heading">
					<h2 data-ng-bind-html="item.post_title"></h2>
				</div>
				<div class="pricing-price">
					<span><p data-ng-bind-html="(item.variations ? '<span>From</span> ' : '') + '$' + item.price + ' <span>per ' + item.period + '</span>'">Call</p></span>
				</div>
				<div data-ng-bind-html="item.post_content"></div>
				<p data-ng-if="!item.variations">
					<a class="button" data-ng-click="$ctrl.buy_now(item.ID)">Buy Now</a>
				</p>
				<div class="variation-select" data-ng-if="item.variations">
					<select data-ng-init="item.selected_variation = item.variations[0].variation_id" data-ng-model="item.selected_variation">
						<option data-ng-repeat="option in item.variations" data-ng-value="option.variation_id">
							{{option.attributes['attribute_payment-plan']}} - ${{option.display_price}}
						</option>
					</select>
					<a class="button" data-ng-click="$ctrl.buy_now(item.ID, item.selected_variation)">Buy Now</a>
				</div>
			</div>
		</div>
		<div class="lmp-faqs" data-ng-if="$ctrl.content.faqs">
			<h2 class="special-heading">Frequently asked questions</h2>
			<div class="lmp-faq" data-ng-repeat="faq in $ctrl.content.faqs track by $index">
				<h3 data-ng-click="faq.show = ! faq.show">
					<span data-ng-bind="faq.question"></span>
					<svg data-ng-if="!faq.show" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-keyboard_arrow_up"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-keyboard_arrow_down"></use></svg>
					<svg data-ng-if="faq.show" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-keyboard_arrow_up"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-keyboard_arrow_up"></use></svg>
				</h3>
				<div class="faq-answer" data-ng-bind-html="faq.answer" data-ng-show="faq.show"></div>
			</div>
		</div>
	</main>
	<data-sidebar data-ng-if="! $ctrl.content.full_width"></data-sidebar>
</div>