<div class="artist-header" data-ng-style="{background: '#f7f7f7 url(' + $ctrl.content.header + ') no-repeat center center / cover', 'padding-bottom': style}" data-artist-header>
	<div class="act-title">
		<div class="wrap">
			<h1 id="artist-title" data-ng-bind="$ctrl.content.title"></h1>
		</div>
	</div>
</div>
<div class="act-meta">
	<div class="wrap">
		<ul class="act-menu">
			<li>
				<a data-ng-click="$ctrl.change_view('music')" data-ng-class="{active: $ctrl.view === 'music'}">Music</a>
			</li>
			<li data-ng-if="$ctrl.content.videos.length > 0">
				<a data-ng-click="$ctrl.change_view('video')" data-ng-class="{active: $ctrl.view === 'video'}">Video</a>
			</li>
			<li data-ng-if="$ctrl.content.bio">
				<a data-ng-click="$ctrl.change_view('about')" data-ng-class="{active: $ctrl.view === 'about'}">About</a>
			</li>
		</ul>
		<ul class="artist-social-menu">
			<li data-ng-repeat="( key, value ) in $ctrl.content.social" data-ng-if="value">
				<a class="button alt" data-ng-if="key === 'facebook'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-facebook">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-facebook"></use>
					</svg>
				</a>
				<a class="button alt" data-ng-if="key === 'instagram'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-instagram">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-instagram"></use>
					</svg>
				</a>
				<a class="button alt" data-ng-if="key === 'youtube'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-youtube">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-youtube"></use>
					</svg>
				</a>
				<a class="button alt" data-ng-if="key === 'twitter'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-twitter">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-twitter"></use>
					</svg>
				</a>
				<a class="button alt" data-ng-if="key === 'google'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-google">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-google"></use>
					</svg>
				</a>
				<a class="button alt" data-ng-if="key === 'website'" data-ng-href="{{value}}" rel="noopener" target="_blank">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-globe">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-globe"></use>
					</svg>
				</a>
			</li>
			<li>
			<data-share-button content="$ctrl.content"></data-share-button>
			</li>
		</ul> 

		<form class="filter-music">
			<data-sort-filter></data-sort-filter>
		</form>

	</div>

</div>

<div class="wrap">

	<main class="lmp-content-left">

		<div class="act-videos" data-ng-if="$ctrl.content.videos.length > 0 && $ctrl.view === 'video'">

			<ul>
				<li data-ng-repeat="item in $ctrl.content.videos">
					<div class="lmp-video-wrap">
						<iframe data-ng-src="{{ item.embed_url}}" allowfullscreen></iframe>
					</div>
				</li>
			</ul>
		</div>

		<div class="artist-bio" data-ng-if="$ctrl.content.bio && $ctrl.view === 'about'" data-ng-bind-html="$ctrl.content.bio"></div>

		<div data-ng-if="$ctrl.view === 'music'">

			<p data-ng-if="$ctrl.tracks.length === 0">We have no music for this artist</p>

			<ul class="lmp-track-list" data-ng-if="$ctrl.tracks.length > 0">

				<li data-ng-repeat="item in $ctrl.tracks">

					<data-single-track track="item" layout="layout"></data-single-track>
					
				</li>

			</ul>

			<data-pagination data-ng-if="$ctrl.page" page="$ctrl.page" pages="$ctrl.pages"></data-pagination>

		</div>

	</main>

	<data-sidebar></data-sidebar>

</div>