.page-header .wrap {
	position: relative;
}

.page-header h1 {
	text-transform: capitalize;
}

.filter-music {
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top: -22px;
}

.filter-music select {
	font-weight: 600;
	line-height: 20px;
	padding: 12px 17px 10px 8px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  width: 110px;
  border-bottom: 2px solid #d0d0d0;
  border-radius: 3px;
}

.fixed .filter-music .select-wrap svg {
	width: 14px;
	height: 14px;
	top: 13px;
}

@media only screen and (max-width: 960px) {

	.filter-music {
		right: 10px;
	}
	
}

@media only screen and (max-width: 768px) {

	.filter-music select {
	    width: 95px;
	    padding-right: 20px;
	}

	.filter-music data-sort-filter select {
		width: 76px;
	}



}

@media only screen and (max-width: 600px) {

	.main-music .page-header {
	    padding: 0;
	}

	.main-music .page-header h1 {
		padding: 0;
		line-height: 40px!important;
		display: block;
		overflow: hidden;
		text-transform: uppercase;
		font-size: 13px!important;
		letter-spacing: 0.5px!important;
	}

	.filter-music {
		position: absolute;
		width: 65%;
		border-left: 1px solid #e5e5e5;
		margin-top: 0;
		right: 0;
		top: 0;
	}

	.filter-music select {
	    width: 100%!important;
	    border: none;
	    border-radius: 0;
	    line-height: 40px;
	    height: 40px;
	    padding: 0 20px 0 10px;
	    background-color: #f7f7f7;
	}

	.filter-music data-genre-filter select {
	    border-right: 1px solid #e5e5e5;
	}

	.filter-music data-genre-filter,
	.filter-music data-sort-filter {
	    width: 50%;
	    display: block;
	    float: left;
	    position: relative;

	}

}