.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-lmp-radio {
  width: 1.1865234375em;
}

.icon-lmp {
  width: 1.919921875em;
}

.icon-search2 {
  width: 0.9287109375em;
}

.icon-trash-o {
  width: 0.7861328125em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-facebook {
  width: 0.5712890625em;
}

.icon-calendar-o {
  width: 0.9287109375em;
}

.icon-soundcloud {
  width: 1.2861328125em;
}

.icon-cc-visa {
  width: 1.2861328125em;
}

.icon-cc-mastercard {
  width: 1.2861328125em;
}

.icon-cc-discover {
  width: 1.2861328125em;
}

.icon-cc-amex {
  width: 1.2861328125em;
}

.icon-cc-paypal {
  width: 1.2861328125em;
}

.icon-toggle-off {
  width: 1.142578125em;
}

.icon-toggle-on {
  width: 1.142578125em;
}
