.track-modal {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    height: calc(100% + 120px);
    background: rgba(27,27,27,0.92);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 14;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    text-shadow: 0 1px 1px #000;
}

.track-modal.ng-enter, 
.track-modal.ng-leave {
	transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.track-modal.ng-enter,
.track-modal.ng-leave.ng-leave-active {
	opacity: 0;
}

.track-modal.ng-leave,
.track-modal.ng-enter.ng-enter-active {
	opacity: 1;
}

.track-modal.ng-enter .inner,
.track-modal.ng-leave .inner {
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.track-modal.ng-enter .inner,
.track-modal.ng-leave.ng-leave-active .inner {
    opacity: 0;
    transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
}

.track-modal.ng-leave .inner,
.track-modal.ng-enter.ng-enter-active .inner {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.track-modal .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.modal-close {
    padding: 0;
    line-height: 16px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-close svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.modal-close svg use {
    fill: #fff;
}

.modal-artwork {
    position: relative;
    left: 50%;
    width: 140px;
    height: 140px;
    margin: 0 0 15px -70px;
    background: rgba(27,27,27,0.6);
}

.modal-artwork img {
    width: 140px;
    height: 140px;
    box-shadow: 0 5px 15px rgba(27,27,27,0.4);
}

.track-modal h2 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    display: block;
    font-weight: 500;
}

.track-modal p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    margin: 0;
    display: block;
}

.modal-stats {
    margin: 10px 0 0 0;
    position: relative;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
}

.modal-stats > div {
    width: 33.3333333333%;
    float: left;
    position: relative;
    color: #fff;
    font-size: 12px;
    padding: 0 0 0 30px;
    line-height: 44px;
    border-right: 1px solid #464646;
    height: 44px;
}

.modal-stats > div:first-child {
	padding-left: 22px;
}

.modal-stats > div:nth-child(3) {
	border-right: none;
}

.modal-stats > div:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M16.688 9.979v7l6 3.563-1 1.688-7-4.25v-8h2zM16 27.354q4.375 0 7.531-3.156t3.156-7.531-3.156-7.531-7.531-3.156-7.531 3.156-3.156 7.531 3.156 7.531 7.531 3.156zM16 3.354q5.5 0 9.406 3.906t3.906 9.406-3.906 9.406-9.406 3.906-9.406-3.906-3.906-9.406 3.906-9.406 9.406-3.906z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center center;
}

.modal-stats > div:first-child:before {
    left: 0;
}

.modal-stats > div:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M10.688 7.354l14.625 9.313-14.625 9.313v-18.625z'%3E%3C/path%3E%3C/svg%3E");
}

.modal-stats > div:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M16.125 25.417q3-2.688 4.438-4.063t3.125-3.25 2.344-3.313 0.656-2.813q0-2-1.344-3.313t-3.344-1.313q-1.563 0-2.906 0.875t-1.844 2.25h-2.5q-0.5-1.375-1.844-2.25t-2.906-0.875q-2 0-3.344 1.313t-1.344 3.313q0 1.375 0.656 2.813t2.344 3.313 3.125 3.25 4.438 4.063l0.125 0.125zM22 4.667q3.125 0 5.219 2.125t2.094 5.187q0 1.813-0.688 3.531t-2.531 3.844-3.344 3.563-4.813 4.438l-1.938 1.75-1.938-1.688q-4.313-3.875-6.219-5.813t-3.531-4.563-1.625-5.063q0-3.063 2.094-5.188t5.219-2.125q3.625 0 6 2.813 2.375-2.813 6-2.813z'%3E%3C/path%3E%3C/svg%3E");
}

.modal-stats > div.liked:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M16 29.104l-1.938-1.75q-3.313-3-4.813-4.438t-3.344-3.563-2.531-3.844-0.688-3.531q0-3.063 2.094-5.188t5.219-2.125q3.625 0 6 2.813 2.375-2.813 6-2.813 3.125 0 5.219 2.125t2.094 5.188q0 2.438-1.625 5.063t-3.531 4.563-6.219 5.813z'%3E%3C/path%3E%3C/svg%3E");
}

.modal-stats span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow:ellipsis;
}

.track-modal ul {
    margin: 0;
    position: relative;
}

.track-modal li {
    list-style-type: none;
    border-bottom: 1px solid #464646;
}

.track-modal li a {
    color: #fff;
    display: block;
    line-height: 52px;
    position: relative;
    cursor: pointer;
}

.track-modal li a:hover {
    padding-left: 12px;
}

.track-modal li a:after {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -8px 0 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.track-modal li.goto a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M11.438 22.479l6.125-6.125-6.125-6.125 1.875-1.875 8 8-8 8z'%3E%3C/path%3E%3C/svg%3E");
}

.track-modal li.like a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M16.125 25.417q3-2.688 4.438-4.063t3.125-3.25 2.344-3.313 0.656-2.813q0-2-1.344-3.313t-3.344-1.313q-1.563 0-2.906 0.875t-1.844 2.25h-2.5q-0.5-1.375-1.844-2.25t-2.906-0.875q-2 0-3.344 1.313t-1.344 3.313q0 1.375 0.656 2.813t2.344 3.313 3.125 3.25 4.438 4.063l0.125 0.125zM22 4.667q3.125 0 5.219 2.125t2.094 5.187q0 1.813-0.688 3.531t-2.531 3.844-3.344 3.563-4.813 4.438l-1.938 1.75-1.938-1.688q-4.313-3.875-6.219-5.813t-3.531-4.563-1.625-5.063q0-3.063 2.094-5.188t5.219-2.125q3.625 0 6 2.813 2.375-2.813 6-2.813z'%3E%3C/path%3E%3C/svg%3E");
}

.track-modal li.like a.liked:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M16 29.104l-1.938-1.75q-3.313-3-4.813-4.438t-3.344-3.563-2.531-3.844-0.688-3.531q0-3.063 2.094-5.188t5.219-2.125q3.625 0 6 2.813 2.375-2.813 6-2.813 3.125 0 5.219 2.125t2.094 5.188q0 2.438-1.625 5.063t-3.531 4.563-6.219 5.813z'%3E%3C/path%3E%3C/svg%3E");
}

.track-modal li.playlist a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M2.688 21.979v-2.625h10.625v2.625h-10.625zM24 19.354h5.313v2.625h-5.313v5.375h-2.688v-5.375h-5.313v-2.625h5.313v-5.375h2.688v5.375zM18.688 8.667v2.688h-16v-2.688h16zM18.688 13.979v2.688h-16v-2.688h16z'%3E%3C/path%3E%3C/svg%3E");
}

.track-modal li.download a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%25' height='100%25' style='fill:%23fff'%3E%3Cpath d='M6.688 24.667h18.625v2.688h-18.625v-2.688zM25.313 12.667l-9.313 9.313-9.313-9.313h5.313v-8h8v8h5.313z'%3E%3C/path%3E%3C/svg%3E");
}

.track-modal a.loading {
    font-size: 0;
    pointer-events: none;
}

.track-modal a.loading svg {
    display: none;
}

.track-modal a.loading:after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -11px 0 0 -11px;
    border-radius: 50%;
    animation: rotate 2s infinite;
    border-top: 2px solid #ba4d3d;
    background-image: none!important;
}

.track-modal.mobile .inner {
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: calc(100% - 60px);
    position: fixed;
    top: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.track-modal.mobile.ng-enter .inner,
.track-modal.mobile.ng-leave.ng-leave-active .inner {
    opacity: 0;
    transform: translateX(-50%) translateY(10%);
    -ms-transform: translateX(-50%) translateY(10%);
    -webkit-transform: translateX(-50%) translateY(10%);
}

.track-modal.mobile.ng-leave .inner,
.track-modal.mobile.ng-enter.ng-enter-active .inner {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
}

.modal-progress {
    background: #272727;
    box-shadow: 0 0 10px #000;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.modal-progress .progress {
    max-width: 100%;
    transform: none;
    left: 0;
}

.modal-progress .progress > div:not(.lmp-range-container) {
    width: 60px;
    color: #fff;
    font-size: 11px;
    float: left;
    position: relative;
    line-height: 60px;
    text-align: center;
}

.modal-progress .lmp-range-container {
    width: calc(100% - 120px);
}

.modal-progress .progress div.current-time {
    padding-right: 0;
}

.modal-progress .progress div.total-duration {
    padding-left: 0;
}

.modal-progress button.player-control.toggle {
    position: absolute;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 50%;
    top: -30px;
    margin-left: -20px;
    padding: 0;
    line-height: 40px;
    z-index: -1;
}

.modal-progress button.player-control.toggle svg {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
}

.modal-progress button.player-control.toggle svg use {
    fill: #fff;
}

.modal-progress button.player-control.toggle:before {
    height:30px;
    width: 60px;
    border-radius: 60px 60px 0 0;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    background: #272727;
    margin-left: -30px;
    box-shadow: 0 0 10px #000;
}

button.modal-close-mobile {
    position: fixed;
    bottom: 0;
    top: auto;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(27,27,27,0.96);
    box-shadow: 0 0 10px #000;
    z-index: 3000;
    border: none;
    border-radius: 0;
    text-align: center;
    padding: 0;
    height: 54px;
    line-height: 54px;
}