<div class="page-header">
  <div class="wrap">
    <h1>Checkout</h1>
  </div>
</div>
<div class="wrap">
  <main class="lmp-content-left">
    <div class="messages" data-ng-class="{error: !$ctrl.status}" data-ng-bind-html="$ctrl.order.message" data-ng-if="!$ctrl.order.status && $ctrl.order.message"></div>
    <div data-ng-if="$ctrl.order.status">
      <h5><strong>Order #{{$ctrl.order.order_id}}</strong></h5>
      <ul class="order-pricing">
        <li><span>Product</span> Total</li>
        <li><span data-ng-bind-html="$ctrl.order.title"></span> <strong>{{$ctrl.order.product_price}}</strong></li>
        <li ng-if="$ctrl.order.coupon"><span>Coupon code</span> <strong ng-bind-html="$ctrl.order.coupon.code"></strong></li>
        <li ng-if="$ctrl.order.coupon"><span>Discount</span> <strong ng-bind-html="$ctrl.order.coupon.discount_total"></strong></li>
        <li><span>Total</span> <strong ng-bind-html="$ctrl.order.total"></strong></li>
      </ul>
      <div class="checkout-cancel">
        <a class="button button-cancel" data-ng-click="$ctrl.cancel()">Cancel Order</a>
      </div>
      <div class="checkout-action">
        <p>Click below to pay now securely with PayPal</p>
        <a class="paypal-checkout" data-ng-href="{{$ctrl.order.message}}"><img src="/assets/img/paypal/checkout-with-paypal.svg" alt="Checkout with PayPal"></a>
      </div>
    </div>
  </main>
  <data-sidebar></data-sidebar>
</div>