<div class="page-header">
  <div class="wrap">
    <h1>Order Details</h1>
  </div>
</div>
<div class="wrap">
  <main class="lmp-content-left">
    <div class="messages" data-ng-class="{error: !$ctrl.status}" data-ng-bind-html="$ctrl.message" data-ng-if="$ctrl.message"></div>
    <ul class="order-detail" data-ng-if="$ctrl.data">
      <li><span>Subscription #</span> <strong data-ng-bind="$ctrl.data.order_id"></strong></li>
      <li><span>Status</span> <strong data-ng-bind="$ctrl.data.subscription_status.toUpperCase()"></strong></li>
      <li><span>Start date</span> <strong data-ng-bind="$ctrl.data.start_date"></strong></li>
      <li><span>Last payment date</span> <strong data-ng-bind="$ctrl.data.last_payment_date || '-'"></strong></li>
      <li><span>Next payment date</span> <strong data-ng-bind="($ctrl.data.next_payment_date || '-')"></strong></li>
      <li><span>Actions</span> 
        <button ng-if="$ctrl.data.subscription_status === 'active' || $ctrl.data.actions.make_payment" ng-click="$ctrl.cancel()">Cancel</button>
        <a class="paypal-checkout" ng-if="$ctrl.data.actions.make_payment" ng-href="{{$ctrl.data.actions.make_payment.redirect}}"><img src="/assets/img/paypal/checkout-with-paypal.svg" alt="Checkout with PayPal"></a>
      </li>
      <li ng-if="$ctrl.data.downloads"><span>Downloads</span> 
        <a ng-repeat="(key, value) in $ctrl.data.downloads" ng-bind-html="'<span>' + key.toUpperCase() + '</span> ' + value.filename" ng-href="{{value.url}}" class="{{key}}" target="_blank"></a>
        <div><strong>Use the links above to download the record pool app for your platform. Once installed start the app and sign in using your iamlmp account details.</strong></div>
      </li>
    </ul>

    <ul class="order-pricing" data-ng-if="$ctrl.data">
      <li><span>Product</span> Total</li>
      <li><span data-ng-bind-html="$ctrl.data.product_name"></span> <strong data-ng-bind-html="$ctrl.data.product_price"></strong></li>
      <li ng-if="$ctrl.data.frequency"><span>Billing period</span> <strong ng-bind-html="$ctrl.data.frequency"></strong></li>
      <li ng-if="$ctrl.data.coupons" ng-repeat="code in $ctrl.data.coupons"><span>Coupon code: {{code.code}}</span> <strong>- {{code.discount}}</strong></li>
      <li><span>Payment Method</span> <svg class="buy-now-paypal" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-cc-paypal"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-cc-paypal"></use></svg></li>
      <li><span>Total</span> <strong data-ng-bind-html="$ctrl.data.total"></strong></li>
    </ul>
  </main>
  <data-sidebar></data-sidebar>
</div>