<section class="lmp-slider" data-ng-mouseenter="slider.pause()" data-ng-mouseleave="slider.unpause()" data-ng-if="slider.slides.length > 0">

	<div data-ng-repeat="slide in slider.slides" data-ng-style="{ background: '#252525 url(' + slide.img + ') no-repeat top center/cover' }" data-ng-if="slide.active" data-ng-class="{ 'lmp-has-track': slide.track }">
		<div class="wrap">
			<div class="timeline-inner">
				<h2 data-ng-bind-html="slide.title"></h2>
				<span data-ng-bind-html="slide.sub_title"></span>
			</div>
		</div>
		<div class="lmp-slide-track" data-ng-if="slide.track">
			<div class="wrap">
				<ul class="lmp-track-list">
					<li>
						<data-single-track track="slide.track" layout="layout"></data-single-track>
					</li>
				</ul>
			</div>
		</div>
	</div>
			
	<button class="lmp-slider-nav prev" data-ng-click="slider.prev()" data-ng-show="slider.current > 0">
		<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-angle_left">
			<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-angle_left"></use>
		</svg>
	</button>

	<button class="lmp-slider-nav next" data-ng-click="slider.next()" data-ng-show="( slider.current + 1 ) < slider.content.events.length">
		<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-angle_right">
			<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-angle_right"></use>
		</svg>
	</button>

</section>