<div class="page-header" page-header data-ng-class="{ fixed: page_header.class }">
  <div class="wrap">
    <h1>Change password</h1>
  </div>
</div>
<div class="wrap">
  <main class="lmp-content-left">
    <form id="lmp-account-edit" class="lmp-form" data-ng-submit="$ctrl.update_password()">
      <div class="form-item">
        <input type="password" id="current_password" name="current_password" data-ng-model="$ctrl.current_password" required>
        <label for="current_password">Current password</label>
      </div>
      <div class="form-item">
        <input type="password" id="password_1" name="password_1" data-ng-model="$ctrl.password" required>
        <label for="password_1">New password</label>
      </div>
      <div class="form-item">
        <input type="password" id="password_2" name="password_2" data-ng-model="$ctrl.password_2" required data-ng-validate="$ctrl.password_validate()">
        <label for="password_2">Confirm new password</label>
      </div>
      <button type="submit">Change password</button>
    </form>
  </main>
  <data-sidebar></data-sidebar>
</div>