<div class="page-header">
  <div class="wrap">
    <h1>Review order</h1>
  </div>
</div>
<div class="wrap">
  <main class="lmp-content-left">
    <ul class="order-pricing">
      <li><span>Product</span> Total</li>
      <li><span data-ng-bind-html="$ctrl.product.post_title"></span> <strong data-ng-bind-html="$ctrl.product.price"></strong></li>
      <li ng-if="$ctrl.product.frequency"><span>Billing period</span> <strong ng-bind-html="$ctrl.product.frequency"></strong></li>
      <li><span>Payment Method</span> <svg class="buy-now-paypal" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-cc-paypal"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-cc-paypal"></use></svg></li>
      <li><span>Total</span> <strong data-ng-bind-html="$ctrl.product.total"></strong></li>
    </ul>
    <div class="lmp-form">
      <div class="form-item">
        <input type="text" id="discount_code" name="discount_code" data-ng-model="$ctrl.coupon_code">
        <label for="discount_code">Coupon code</label>
      </div>
    </div>
    <a class="button buy-now" data-ng-href="/checkout?product_id={{$ctrl.product.ID}}{{$ctrl.product.variation ? '&variation_id=' + $ctrl.product.variation.variation_id : ''}}{{$ctrl.coupon_code ? '&coupon_code=' + $ctrl.coupon_code : ''}}">Checkout</a>
  </main>
  <data-sidebar></data-sidebar>
</div>