<div class="lmp-podcast" data-ng-class="{ 'mobile-view': $ctrl.layout.mobile }">
  <a data-ng-href="/podcasts/{{ $ctrl.podcast.slug }}" data-ng-attr-data-track-id="{{ ::$ctrl.podcast.id }}">
    <div class="podcast-artwork" data-ng-if="!$ctrl.album">
      <img data-ng-src="{{ $ctrl.podcast.artwork_large }}" data-ng-attr-alt="">
    </div>
    <div class="podcast-identity">
      <h3 data-ng-bind-html="$ctrl.podcast.title" data-ng-class="{ current: $ctrl.storage.current.id === $ctrl.podcast.id && ! $ctrl.storage.state.loading }"></h3>
      <p data-ng-bind-html="$ctrl.podcast.artists" data-ng-if="$ctrl.podcast.artists"></p>
      <div class="podcast-meta">
        <div>
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-access_time"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-access_time"></use></svg>
          <span data-ng-bind-html="$ctrl.podcast.duration_display"></span>
        </div>
      <div>
        <svg data-ng-if="$ctrl.podcast.user_like" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-favorite"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-favorite"></use></svg>
        <svg data-ng-if="!$ctrl.podcast.user_like" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-favorite"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-favorite"></use></svg>   
        <span data-ng-bind-html="$ctrl.podcast.likes"></span>
      </div>
    </div>
  </div>
</a>
</div>