<nav data-ng-if="lmp_user.profile && ! lmp_user.loading" data-ng-show="lmp_user.storage.lmp_user.menu" class="user-nav">

	<div class="user-overlay" data-ng-click="lmp_user.toggle_menu()"></div>

	<ul class="user-menu">
		
		<a class="close-menu" data-ng-click="lmp_user.toggle_menu()">Close</a>
		
		<div class="user-welcome">
			<img data-ng-src="{{ lmp_user.profile.avatar_urls[96] }}" alt="">
			<h2 data-ng-bind-html="'Hi ' + lmp_user.profile.name"></h2>
		</div>
		
		<li>
			<a href="/my-favorites" title="My favorites">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-favorite"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-favorite"></use></svg> 
				My favorites
			</a>
		</li>
		<li>
			<a href="/my-history" title="My history">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-skip_previous"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-skip_previous"></use></svg> 
				My history
			</a>
		</li>
		<li>
			<a data-ng-click="main.user_playlists_open = true" title="My playlists">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-queue_music"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-queue_music"></use></svg> 
				My playlists
			</a>
		</li>
		<li>
			<a href="/my-account" title="">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-person"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-person"></use></svg> 
				My account
			</a>
		</li>
		<li>
			<a data-ng-click="main.log_out()" title="Log out">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-chevron_right"><use xlink:href="/assets/img/icons/symbol-defs.svg#icon-chevron_right"></use></svg> 
				Log out
			</a>
		</li>
	</ul>

	<ul class="user-playlist-menu" data-ng-if="lmp_user.playlists_open">
		<a data-ng-click="lmp_user.playlists_open = false">Close</a>
		<li data-ng-repeat="item in lmp_user.profile.playlists">
			<a data-ng-href="/playlists/{{ item.slug }}" data-ng-bind-html="item.title"></a>
		</li>
	</ul>

</nav>