<div class="page-header" page-header data-ng-class="{ fixed: page_header.class }">

	<div class="wrap">

		<h1 data-ng-bind="$ctrl.content.title"></h1>

	</div>

</div>

<div class="article-stats">

	<div class="wrap">

		<div>
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-calendar-o">
				<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-calendar-o"></use>
			</svg>
			<span data-ng-bind="$ctrl.content.display_date"></span> 
		</div>

		<button class="delete-playlist alt" data-ng-click="$ctrl.remove_playlist()">
			Delete
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-trash-o">
				<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-trash-o"></use>
			</svg>
		</button>

		<share-button content="$ctrl.content"></share-button>

	</div>

</div>

<div class="wrap">

	<main class="lmp-content-left">

		<p data-ng-if="$ctrl.content.tracks.length === 0">This playlist is empty. Why not <a href="/tracks" title="Browse music">find some music</a>?</p>

		<ul id="sort-list" class="lmp-track-list" data-as-sortable="$ctrl.sort_list" data-ng-model="$ctrl.content.tracks" data-ng-if="$ctrl.content.tracks.length > 0">

			<li data-ng-repeat="item in $ctrl.content.tracks" data-as-sortable-item>

				<button class="delete-track" data-ng-click="$ctrl.delete_track( $index )">
					<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-close">
						<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-clear"></use>
					</svg>
				</button>
				<div data-as-sortable-item-handle>
					<data-single-track track="item" layout="layout"></data-single-track>
				</div>
				
			</li>

		</ul>

	</main>

	<data-sidebar></data-sidebar>

</div>