<div class="page-header">

	<div class="wrap">

		<div class="single-track-detail">
		
			<h1 data-ng-bind-html="$ctrl.content.title"></h1>
			<p data-ng-bind-html="$ctrl.content.artists" data-ng-if="$ctrl.content.artists"></p>

		</div>

		<div class="track-artwork">
			<img data-ng-src="{{ $ctrl.content.artwork }}" data-ng-attr-alt="{{ $ctrl.content.title.rendered }}">
		</div>

		<button data-ng-if="$ctrl.content.tracks.length > 0" data-ng-class="{ playing: $ctrl.track_ids.indexOf( $ctrl.storage.current.id ) > -1 && $ctrl.storage.state === 'playing' }" class="lmp-play-large" data-ng-click="$ctrl.toggle_audio()">  

			<span data-ng-bind="$ctrl.track_ids.indexOf( $ctrl.storage.current.id ) > -1 && $ctrl.storage.state === 'playing' ? 'Pause' : 'Play All'"></span>

		</button>

	</div>

</div>

<div class="track-stats col-{{ $ctrl.meta_cols }}">

	<div class="wrap">

		<div>
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-access_time">
				<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-access_time"></use>
			</svg>
			<span data-ng-bind="$ctrl.content.duration"></span> 
		</div> 

		<div>
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-music">
				<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-music"></use>
			</svg> 
			<span data-ng-bind="$ctrl.content.tracks.length"></span> 
		</div> 

		<share-button content="$ctrl.content" class="ng-isolate-scope">
			<button class="lmp-share alt" data-ng-click="share.share()">
				Share
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-share">
					<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-share"></use>
				</svg>
			</button>
		</share-button>

		<a data-ng-href="{{ $ctrl.content.buy }}" target="_blank" data-ng-if="$ctrl.content.buy">
			<span>Buy </span>
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-shopping_basket">
				<use xlink:href="/assets/img/icons/symbol-defs.svg#icon-shopping_basket"></use>
			</svg>
		</a>
		
	</div>

</div>


<div class="wrap">
 
	<main class="lmp-content-left">
		
		<div class="track-description" data-ng-if="$ctrl.content.description">
			<span data-ng-bind-html="$ctrl.content.description | limitTo:$ctrl.description_limit" data-ng-if="$ctrl.content.description"></span>
			<div class="description-overlay" data-ng-if="$ctrl.description_limit === 180"></div>
			<a data-ng-click="$ctrl.toggle_description()" data-ng-if="$ctrl.content.description.length > 180" data-ng-bind="$ctrl.description_limit === 180 ? 'Read more' : 'Show less'"></a>
		</div>

		<ul class="lmp-track-list chart-list">

			<li data-ng-repeat="item in $ctrl.content.tracks">  

				<data-single-track track="item" album="true" layout="layout"></data-single-track>
				
			</li>

		</ul>

		<!-- <comments post-id="track.content.id" post-type="track.content.format" count="track.content.comment_count"></comments> -->

	</main>

	<data-sidebar></data-sidebar>

</div>