<div class="page-header" page-header data-ng-class="{ fixed: page_header.class }">
	<div class="wrap">
		<h1>Play queue</h1>
	</div>
</div>
<div class="wrap">
	<main class="lmp-content-left">
		<ul class="lmp-track-list" data-ng-if="$ctrl.storage.playlist.length > 0">
			<li data-ng-repeat="item in $ctrl.storage.playlist">
				<data-single-track track="item" layout="layout"></data-single-track>
			</li>
		</ul>
		<p data-ng-if="!$ctrl.storage.playlist">No tracks in the queue.</p>
	</main>
	<data-sidebar></data-sidebar>
</div>